<div 
  class="tl-near-full-responsive tl-col-dir tl-hor-left tl-no-wrap tl-flex-block">

  <div
    class="tl-big-bottom-margined">
    To build you own static style to use with ngx-tl-common, you just need to implement the theme variable in the :host pseudo-class within a global stylesheet of your app:
    <ul>
      <li>Within the root style.(s)ccs of your application</li>
      <li>In an other ot dedicated CSS file. in this case, reference it as global stylesheet in your application angular.json file</li>
    </ul>
    You can copy paste the following theme variable assignation examples and change the values:
  </div>
  
  <div 
    class="tl-xbig">
  
    <pre>
      <code
        [highlight]="this.ownStyleCode"
        [languages]="['css']">
     </code>
    </pre>
  
  </div>
</div>