<div
  class="tl-big-margined tl-title">
  Example
</div>

<tls-component-sample
  [hasShape]="true"
  [hasTlStyle]="false">

  <tl-shape-block
    class="tl-outline-bg-element"
    [size]="this.componentPreferenceService.style.size"
    [shape]="this.componentPreferenceService.style.shape">
  </tl-shape-block>
  
</tls-component-sample>

<div 
  class="tl-near-full-responsive">

  <pre>
    <code
      [highlight]="this.htmlCode"
      [languages]="['html']">
   </code>
  </pre>

</div>

<div
  class="tl-big-margined tl-title">
  Inputs
</div>

<table>
  <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Default Value</th>
    </tr>
  </thead>
  <tbody>
<tr>
        <td>size</td>
        <td>string</td>
        <td>Size of the shape-block  <br/>tl-full by default</td>
        <td>'tl-full'</td>
</tr>
<tr>
        <td>shape</td>
        <td>string</td>
        <td>Shape. may be 'square', 'rectangle', 'three-four', 'sixteen-nine', 'round'</td>
        <td>'square'</td>
</tr>
  </tbody>
</table>


