@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Abril+Fatface&display=swap');

.tls-page {
  margin:auto;
  width:90%;
  padding-top:40px;
  color: var(--main-content-color);
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

.tls-view-container{
  padding-left: 30%;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  border:none;
}

tr{
  border-bottom: thin solid var(--soft-content-color);
}

thead tr {
  background-color: var(--outline-content-color);
  color: #ffffff;
  text-align: left;
}

th, td {
  padding: 12px 15px;
}

tbody tr:nth-of-type(even) {
    background-color: var(--transparent-bg-color);
}

tbody tr:last-of-type {
    border-bottom: 2px solid var(--outline-content-color);
}

th {
    text-align: center;
}
td {
  padding:3px;
}

@media all and (max-width: 1300px)  {

  .tls-view-container {
    padding-left: 0px
  }
}