.table-row{  
  display:grid;
  align-content:center;
  
  opacity:1;
  min-height:40px;
  
  padding:6px; 
  
  width:100%;
  box-sizing:border-box;
}

.table-row-pair{
  background-color:var(--transparent-bg-color);
}

.header-row{
  background-color:var(--sharp-transparent-bg-color);
  text-align:center;
  
  min-height:46px;
  margin-bottom:5px;
  padding:10px;
  
  border-radius: 8px 8px 0px 0px;
}

.footer-row{
  background-color:var(--sharp-transparent-bg-color);
  margin-top:5px;
  padding:6px;
  min-height:40px;
  border-radius: 0px 0px 8px 8px;
}

.action-item{
  margin-left:10px;
}