<!-- Header row-->
<div
  class="table-row header-row"
  [ngStyle]="{
      'grid-template-columns': this.gridTemplateColumns
    }">
  
  
  <div
    *ngIf="this._selectionMode"
    class="tl-col-dir tl-vert-center tl-hor-left tl-flex-block">
    
    <tl-icon-dropdown
      *ngIf="this.selectionActions.length != 0"
      style="width:20px"
      [icon]="'ion-ellipsis-vertical'"
      [iconOn]="'ion-ellipsis-vertical'"
      [iconSize]="20"
      [dropdownPanelStyle]="this.dropdownStyle"
      [dropdownPanelPosition]="'bottom-right'">
      
      <div
        style="width:350px"
        class="tl-col-dir tl-flex-block">
        
        <!-- Proposals -->
        <div
          *ngFor="let proposal of this.selectionActions"
          class="proposal tl-no-br tl-clickable tl-full tl-padded tl-no-wrap tl-row-dir tl-hor-center tl-vert-center tl-flex-block"
          (click)="this.onClickSelectionActionProposal(proposal)">
          
          <!-- Icon, if any -->
          <tl-square-icon
            *ngIf="proposal.icon != undefined"
            [size]="20"
            [icon]="proposal.icon"
            style="margin-right:10px">
          </tl-square-icon>
          
          <!-- Label -->
          <div
            class="proposal-text">
            {{ proposal.name }}
          </div>
          
        </div>
        
      </div>
      
    </tl-icon-dropdown>
    
  </div>
   
  <ng-container
    *ngFor="let column of this.columns; let i = index">
    <div
      *ngIf="!column.hide"
      class="tl-row-dir tl-vert-center tl-flex-block">
      
      <div>
        <b>{{ column.title }}</b>
      </div>
      
      <div
        style="margin-left:10px;"
        class="tl-col-dir tl-flex-block">
        
        <tl-clickable-icon
          *ngIf="column.sortable != undefined && column.sortable"
          style="margin-bottom:-3px;"
          [size]="16"
          [icon]="'ion-chevron-up-outline'"
          [iconOn]="'ion-chevron-up'"
          [color]="'tl-outline'"
          (click)="this.sort(column.fieldName, 'asc')">
        </tl-clickable-icon>
        
        <tl-clickable-icon
          *ngIf="column.sortable != undefined && column.sortable"
          style="margin-top:-3px;"
          [size]="16"
          [icon]="'ion-chevron-down-outline'"
          [iconOn]="'ion-chevron-down'"
          [color]="'tl-outline'"
          (click)="this.sort(column.fieldName, 'desc')">
        </tl-clickable-icon>
        
      </div>
      
    </div>
  </ng-container>
</div>

<!-- Item tree rows -->
<div
  *ngFor="let item of this.displayedData;let i=index"
  class="table-row"
  [class.clickable]="this.clickRowToSelect"
  [class.table-row-pair]="i%2 != 0"
  [ngStyle]="{
      'grid-template-columns': this.gridTemplateColumns
    }"
  (click)="this.onClickRow(item)">
  
  <!-- Selection checkmark -->
  <tl-icon-toggler
    *ngIf="this._selectionMode"
    [size]="20"
    [icon]="'ion-ellipse-outline'"
    [iconOn]="'ion-checkmark-circle'"
    [color]="'tl-success'"
    [unclickable]="true"
    [initialState]="this.selectionMap.get(item)"
    [synchrone]="true">
  </tl-icon-toggler>
  
  <ng-container
    *ngFor="let column of this.columns">
  
    <div
      *ngIf="!column.hide"
      class="tl-col-dir tl-flex-block"
      [class.tl-hor-left]="column.contentHorizontalAlign == undefined || column.contentHorizontalAlign == 'left'"
      [class.tl-hor-center]="column.contentHorizontalAlign == 'center'"
      [class.tl-hor-right]="column.contentHorizontalAlign == 'right'"
      [class.tl-vert-center]="column.contentVerticalAlign == 'center'"
      [ngStyle]="{
          'text-align': (column.contentTextAlign != undefined)?column.contentTextAlign:'initial'
        }">
      
      
      <!-- If column is not editable, juste display value -->
      <div
        *ngIf="!column.editable">
        {{ item[column.fieldName] }}
      </div>
      
      <!-- If column is editable -->
      <ng-container
        *ngIf="column.editable">
        
        <tl-toggler
          *ngIf="column.editionType == 'toggler'"
          [containerStyle]="this.formInputStyle"
          [buttonStyle]="this.togglerButtonStyle"
          [buttonContainerRatio]="this.togglerButtonContainerRatio"
          [height]="25"
          [margin]="0"
          [size]="'tl-full'"
          [onBgColor]="'tl-outline'"
          [initialState]="item[column.fieldName]"
          (toggleOn)="this.onChangeValue(item, column, true)"
          (toggleOff)="this.onChangeValue(item, column, true)">
        </tl-toggler>
        
        <tl-select
          *ngIf="column.editionType == 'select'"
          [placeholder]="column.editionPlaceholder"
          [tlStyle]="this.formInputStyle"
          [optionPanelStyle]="this.dropdownStyle"
          [size]="'tl-near-full'"
          [textAlign]="'left'"
          [height]="'30px'"
          [proposals]="column.editionProposals"
          [initialSelectedProposal]="(item[column.fieldName] != undefined)?{name: item[column.fieldName]}:null"
          (selectProposal)="this.onChangeValue(item, column, $event)">
        </tl-select>
        
        <tl-input
          *ngIf="column.editionType == 'input-text'"
          style="display:block"
          [size]="'tl-near-full'"
          [tlStyle]="this.formInputStyle"
          [placeholder]="column.editionPlaceholder"
          [initialValue]="item[column.fieldName]"
          [icon]="(column.editionIcon == undefined)?undefined:column.editionIcon"
          [height]="30"
          (changeValue)="this.onChangeValue(item, column, $event)">
        </tl-input>
        
        <tl-date-picker
          *ngIf="column.editionType == 'date-picker'"
          style="display:block"
          [size]="'tl-near-full'"
          [tlStyle]="'tl-soft-transparent'"
          [icon]="(column.editionIcon == undefined)?undefined:column.editionIcon"
          [calendarStyle]="'tl-oulined'"
          [calendarButtonStyle]="'tl-sharp-neumorphic'"
          [placeholder]="column.editionPlaceholder"
          [initialSelectedDate]="item[column.fieldName]"
          [height]="30">
        </tl-date-picker>
            
      </ng-container>
    </div>
  </ng-container>
</div>


<!-- Table footer -->
<div
  class="footer-row tl-full tl-row-dir tl-hor-right tl-vert-center tl-flex-block">
  
  <tl-spinner
    style="margin-right:15px;"
    [size]="18"
    [loadingStatus]="this.loadingStatus">
  </tl-spinner>
  
  <tl-clickable-icon
    class="action-item"
    style="margin-right:10px;"
    [size]="25"
    [icon]="'ion-ellipsis-vertical-circle-outline'"
    [iconOn]="'ion-ellipsis-vertical-circle'"
    [color]="'tl-outline'"
    [label]="'Enable/Disable Selection Mode'"
    [labelSize]="'tl-small'"
    [labelPosition]="'right'"
    (click)="this.toggleSelectionMode(!this._selectionMode)">
  </tl-clickable-icon>
  
  <tl-clickable-icon
    class="action-item"
    [size]="25"
    [icon]="'ion-settings-outline'"
    [iconOn]="'ion-settings'"
    [color]="'tl-outline'"
    (click)="this.displayColumnConfigurationPopup = true">
  </tl-clickable-icon>
  
  <div
    *ngIf="this.maxPerPage != undefined"
    class="action-item tl-row-dir tl-vert-center tl-flex-block">
    
    <tl-clickable-icon
      [class.tl-transparent]="this.currentPage == 1"
      [size]="20"
      [icon]="'ion-chevron-back-outline'"
      [iconOn]="'ion-chevron-back'"
      [color]="'tl-outline'"
      (click)="this.paginate(this.currentPage - 1)">
    </tl-clickable-icon>
    
    <div
      class="tl-small-content">
      Page {{ currentPage }}/{{ numberOfPages}}
    </div>
    
    <tl-clickable-icon
      [class.tl-transparent]="this.currentPage == this.numberOfPages"
      [size]="20"
      [icon]="'ion-chevron-forward-outline'"
      [iconOn]="'ion-chevron-forward'"
      [color]="'tl-outline'"
      (click)="this.paginate(this.currentPage + 1)">
    </tl-clickable-icon>
    
  </div>
  
</div>



<!-- Popup to set column state -->
<tl-popup-overlay
  [display]="this.displayColumnConfigurationPopup"
  [tlStyle]="'tl-sharp-transparent'"
  (close)="this.displayColumnConfigurationPopup = false">
  
  <tl-card
    [tlStyle]="this.popupCardStyle"
    [size]="'tl-two-third-responsive'"
    [padding]="20">
    
    <div
      class="tl-half-responsive tl-col-dir tl-hor-center tl-flex-block">
      
      <div
        class="tl-subtitle tl-big-margined">
        Show/Hide columns
      </div>
    
      <div
        class="tl-col-dir tl-hor-left tl-flex-block">
    
        <div
          *ngFor="let column of this.columns"
          class="tl-margined tl-row-dir tl-vert-center tl-flex-block">
          
          <tl-icon-toggler
            [size]="30"
            [icon]="'ion-eye-off-outline'"
            [iconOn]="'ion-eye'"
            [color]="'tl-success'"
            [initialState]="!column.hide"
            (toggle)="this.toggleColumnDisplay(column, $event)">
          </tl-icon-toggler>
          
          <div
            class="tl-margined">
            {{ column.title }}
          </div>
          
        </div>
      
      </div>
      
    </div>
    
  </tl-card>

</tl-popup-overlay>
