<div 
  class="tl-near-full-responsive tl-col-dir tl-hor-left tl-no-wrap tl-flex-block">

  <div
    class="tl-big-bottom-margined tl-subtitle">
    tl-mobile-menu Component: A reponsive menu for mobile apps
  </div>

  <div
    class="tl-big-bottom-margined">
    Mobile Menu companion component is a good menu to use if you have few high-level menu items (less than 5) and your app is meant to be used on both desktop and mobile<br/><br/>
    Each menu item having child can be unwrapped (only 1 level allowed)<br/><br/>
    On desktop, mobile menu appears on the left<br/>
    On mobile, mobile menu appears on the bottom, to ease navigation<br/><br/>
    To use it, just add this in you app root or layout component:
  </div>
  
  <div 
    class="tl-xbig">
  
    <pre>
      <code
        [highlight]="this.mobileMenuHtmlCode"
        [languages]="['html']">
     </code>
    </pre>
  
  </div>
  
  <div
    class="tl-big-bottom-margined">
    The following inputs can be provided:
    <ul>
      <li>menuStyle: may be 'shadowed' or 'gradient'</li>
      <li>iconSize: choose menu item icon size, in ox</li>
    </ul>
  </div>


  <div
    class="tl-big-bottom-margined tl-subtitle">
    tl-search-menu Component: A search menu for 'big-tree' applications
  </div>

  <div
    class="tl-big-bottom-margined">
    Mobile Menu companion component is a good menu to use if you have many pages user can browse through and that are hierarchically organized<br/><br/>
    This is the companion menu component used in this app, so you can see how it works :)<br/><br/>
    To use it, just add this in you app root or layout component:
  </div>
  
  <div 
    class="tl-xbig">
  
    <pre>
      <code
        [highlight]="this.searchMenuHtmlCode"
        [languages]="['html']">
     </code>
    </pre>
  
  </div>
  
  <div
    class="tl-big-bottom-margined">
    The following inputs can be provided:
    <ul>
      <li>title: Applcation title</li>
    </ul>
  </div>
</div>