<div
  class="tl-big-margined tl-title">
  Example
</div>

<tls-component-sample>

  <tl-icon-miniature-toggler
    [icon]="'G'"
    [offIcon]="'G'"
    [tlStyle]="this.componentPreferenceService.style.tlStyle"
    [size]="this.componentPreferenceService.style.size"
    [label]="this.label"
    [initialState]="this.state"
    [onBgColor]="'tl-success'"
    [offBgColor]="'tl-failure'"
    [borderRadius]="25">
  </tl-icon-miniature-toggler>
  
</tls-component-sample>
  
<div 
  class="tl-near-full-responsive">

  <pre>
    <code
      [highlight]="this.htmlCode"
      [languages]="['html']">
   </code>
  </pre>
  
  <pre>
    <code
      [highlight]="this.tsCode"
      [languages]="['typescript']">
   </code>
  </pre>

</div>

<div
  class="tl-big-margined tl-title">
  Inputs
</div>

<table
  class="tl-near-full-responsive">
  <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Default Value</th>
    </tr>
  </thead>
  <tbody>
<tr>
        <td>offIcon</td>
        <td>string</td>
        <td>Icon when toggler is in 'off' state  <br/>Do not document if this is the same than in 'on' state</td>
        <td>this.icon</td>
</tr>
<tr>
        <td>miniatureHeight</td>
        <td>number</td>
        <td>Miniature height, in px  <br/>50 by default</td>
        <td>50</td>
</tr>
<tr>
        <td>borderRadius</td>
        <td>number</td>
        <td>Miniature border radius, in px  <br/>10 by default</td>
        <td>10</td>
</tr>
<tr>
        <td>tlStyle</td>
        <td>string</td>
        <td>Style of the miniature  <br/>Can be: tl-soft-transparent, tl-outlined, tl-neumorphic...  <br/>tl-soft-transparent by default</td>
        <td>'tl-soft-transparent'</td>
</tr>
<tr>
        <td>height</td>
        <td>number</td>
        <td>Height, in px, of the toggler</td>
        <td>30</td>
</tr>
<tr>
        <td>size</td>
        <td>string</td>
        <td>Size, in px, of the toggler  <br/>tl-initial-width by default</td>
        <td>'tl-initial-width'</td>
</tr>
<tr>
        <td>icon</td>
        <td>string</td>
        <td>Icon of the toggler. None if not documented</td>
        <td>''</td>
</tr>
<tr>
        <td>color</td>
        <td>string</td>
        <td>Icon color, 'main' by default</td>
        <td>'main'</td>
</tr>
<tr>
        <td>margin</td>
        <td>number</td>
        <td>Toggler button margin  <br/>10 by default</td>
        <td>10</td>
</tr>
<tr>
        <td>initialState</td>
        <td>boolean</td>
        <td>Initial state of the toggler  <br/>false by default</td>
        <td>false</td>
</tr>
<tr>
        <td>synchrone</td>
        <td>boolean</td>
        <td>Tells if the toggler shall be synchrone,   <br/>which means that an initial state change changes the toggler state</td>
        <td>false</td>
</tr>
<tr>
        <td>synchroneFeedback</td>
        <td>boolean</td>
        <td>Tells if the toggler shall follow the initial state.  <br/>In this case, a 'toggle' event shall therefore be confirmed by the consisten
t 'initialState' property modification  <br/>  <br/>In other words, if toggler state modification is asked, toggler remains in transitory state unt
il initial state reaches to current state  <br/>False by default  <br/>/!\ Warning: Component can be either 'synchrone', 'synchroneFeedback' (or no
ne), but not the 2!</td>
        <td>false</td>
</tr>
<tr>
        <td>label</td>
        <td>string</td>
        <td>Toggler lable, if any  <br/>Let undocumented if none</td>
        <td>''</td>
</tr>
<tr>
        <td>labelPosition</td>
        <td>string</td>
        <td>Label position, if any  <br/>May be 'right' of 'bottom'  <br/>Right by default</td>
        <td>'right'</td>
</tr>
<tr>
        <td>onBgColor</td>
        <td>string</td>
        <td>Toggler background color when the target state is on (set to true)  <br/>May be 'success', 'failure', 'neutral', 'outline'...  <br/>Let
 empty if none</td>
        <td>''</td>
</tr>
<tr>
        <td>offBgColor</td>
        <td>string</td>
        <td>Toggler background color when the target state is off (set to false)  <br/>May be 'success', 'failure', 'neutral', 'outline'...  <br/>L
et empty if none</td>
        <td>''</td>
</tr>
<tr>
        <td>loadingBgColor</td>
        <td>string</td>
        <td>Toggler background color when the toggler is loading  <br/>May be 'success', 'failure', 'neutral', 'outline'...  <br/>Let empty if none
</td>
        <td>''</td>
</tr>
  </tbody>
</table>

<div
  class="tl-big-margined tl-title">
  Events
</div>

<table
  class="tl-near-full-responsive">
  <thead>
    <tr>
        <th>Name</th>
        <th>Payload Type</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
<tr>
        <td>toggleOn</td>
        <td>any</td>
        <td>Event that is raised when toggler is toggled on</td>
</tr>
<tr>
        <td>toggleOff</td>
        <td>any</td>
        <td>Event that is raised when toggler is toggled off</td>
</tr>
<tr>
        <td>toggleOnConfirmed</td>
        <td>any</td>
        <td>Only if component is under a 'synchrone feedback' policy  <br/>Event that is raised when toggler is toggled on and confirmed-back by in
tial value change</td>
</tr>
<tr>
        <td>toggleOffConfirmed</td>
        <td>any</td>
        <td>Only if component is under a 'synchrone feedback' policy  <br/>Event that is raised when toggler is toggled off and confirmed-back by i
ntial value change</td>
</tr>
  </tbody>
</table>



