<div
  class="tl-big-bottom-margined tl-subtitle tl-near-full-responsive">
  tl-theme-switcher companion component
</div>

<div
  class="tl-xbig-bottom-margined tl-near-full-responsive">
  A built-in tl-theme-switcher component is provided to offer an easy way for user to choose between themes which you have registered within the tl-theme-service<br><br>
  The following sample show how it can be use in the frame of this application:
</div>

<tls-component-sample>

  <tl-theme-switcher
    [tlContainerNature]="true"
    [size]="this.componentPreferencesService.style.size"
    [tlStyle]="this.componentPreferencesService.style.tlStyle">
  </tl-theme-switcher>

</tls-component-sample>

<div 
  class="tl-near-full-responsive">

  <pre>
    <code
      [highlight]="this.htmlCode"
      [languages]="['html']">
   </code>
  </pre>

</div>