  <div
    class="tl-big-bottom-margined tl-subtitle">
    Theme variables
  </div>

<table>
  <thead>
    <tr>
        <th>CSS Variable Name</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>--main-bg-color</td>
        <td>Background color of the app main area</td>
    </tr>
    <tr>
        <td>--main-bg-pattern</td>
        <td>URL of the image pattern to use for the background the app main area. Use 'none' if none</td>
    </tr>
    <tr>
        <td>--element-bg-pattern</td>
        <td>Background color of the application content-containers (cuh as cards, miniaures...)</td>
    </tr>
    <tr>
        <td>--secondary-bg-pattern</td>
        <td>Secondary baground color for the application</td>
    </tr>
    <tr>
        <td>--menu-bg-color</td>
        <td>Menu background color</td>
    </tr>
    <tr>
        <td>--transparent-bg-color</td>
        <td>Background color with an opacity level (use rgba system) to use for transparent content-containers within the app</td>
    </tr>
    <tr>
        <td>--sharp-transparent-bg-color</td>
        <td>Alternative and more opaque background color with an opacity level (use rgba system) to use for transparent content-containers within the app</td>
    </tr>
    <tr>
        <td>--main-bg-color</td>
        <td>Background color of the app main area</td>
    </tr>
    <tr>
        <td>--main-content-color</td>
        <td>Main content color for font and icons</td>
    </tr>
    <tr>
        <td>--secondary-content-color</td>
        <td>Content color for font and icon in secondary parts of the application</td>
    </tr>
    <tr>
        <td>--menu-content-color</td>
        <td>Color for font and icons within menu</td>
    </tr>
    <tr>
        <td>--outline-content-colo</td>
        <td>Content color to use to highlight elements such as links, spinners, icons or text to outline...</td>
    </tr>
    <tr>
        <td>--success-content-color</td>
        <td>Success content color</td>
    </tr>
    <tr>
        <td>--failure-content-color</td>
        <td>Failure content color</td>
    </tr>
    <tr>
        <td>--neutral-content-color</td>
        <td>Neutral-result content color</td>
    </tr>
    <tr>
        <td>--soft-content-color</td>
        <td>Content color to use to soften elements</td>
    </tr>
    <tr>
        <td>--light-shadow-color</td>
        <td>Light-oriented shadow color for app content-containers. Used to create neumorphic effects</td>
    </tr>
    <tr>
        <td>--dark-shadow-color</td>
        <td>Light-opposite-oriented shadow color for app content-containers. Used to create neumorphic effects</td>
    </tr>
    <tr>
        <td>--sharp-light-shadow-color</td>
        <td>Sharp Light-oriented shadow color for app content-containers. Used to create neumorphic effects</td>
    </tr>
    <tr>
        <td>--sharp-dark-shadow-color</td>
        <td>Sharp Light-opposite-oriented shadow color for app content-containers. Used to create neumorphic effects</td>
    </tr>
    <tr>
        <td>--light-dome-color</td>
        <td>Light color to use to create dome effects via gradient on a content-container</td>
    </tr>
    <tr>
        <td>--dark-dome-color</td>
        <td>Dark color to use to create dome effects via gradient on a content-container</td>
    </tr>
    <tr>
        <td>--title-font</td>
        <td>Font to use for titles</td>
    </tr>
    <tr>
        <td>--subtitle-font</td>
        <td>Font to use for subtitles</td>
    </tr>
    <tr>
        <td>--main-font</td>
        <td>Main content font</td>
    </tr>
  </tbody>
</table>