<!-- Display loader if card is loading -->
<tl-loader
  class="tl-xbig-margined"
  *ngIf="this.isLoading">
</tl-loader>

<!-- Card image -->
<tl-active-image
  [size]="'tl-full'"
  [shape]="this.imageShape"
  [imageSrc]="this.imageSrc"
  [hasOverlay]="this.imageIcons.length != 0"
  [activeIcons]="this.imageIcons"
  [ngStyle]="{
    'padding-left': this.imagePadding + 'px',
    'padding-right': this.imagePadding + 'px',
    'padding-top': this.imagePadding + 'px'
  }"
  (clickIcon)="this.clickButton.next($event)">
</tl-active-image>

<!-- Card body with custom content -->
<div
  *ngIf="!this.isLoading"
  [ngStyle]="{
    'padding': this.bodyPadding + 'px'
  }"
  class="tl-full tl-col-dir tl-hor-center tl-no-wrap tl-flex-block">
  
  <div
    *ngIf="this.title != ''"
    class="tl-big-bottom-margined tl-subtitle">
    {{ this.title }}
  </div>
    
  <ng-content></ng-content>
  
</div>
 