<div 
  class="tl-near-full-responsive tl-col-dir tl-hor-left tl-no-wrap tl-flex-block">

  <div
    class="tl-big-bottom-margined tl-subtitle">
    Create Menu Tree
  </div>

  <div
    class="tl-big-bottom-margined">
    Dynamic Menu service is initialized from a set of menu items (implmenting ITlMenuItem interface)<br/>
  </div>
  
  <div 
    class="tl-xbig">
  
    <pre>
      <code
        [highlight]="this.menuItemsInitCode"
        [languages]="['typescript']">
     </code>
    </pre>
  
  </div>
  
  <div
    class="tl-big-bottom-margined tl-subtitle">
    Set up menu service of the application
  </div>

  <div
    class="tl-big-bottom-margined">
    Import tl-theme.service in your root app.component.ts (note: it could be done form any other root component of your application)
  </div>
  
  <div 
    class="tl-xbig">
  
    <pre>
      <code
        [highlight]="this.menuServiceImportCode"
        [languages]="['typescript']">
     </code>
    </pre>
  
  </div>
  
  <div
    class="tl-big-bottom-margined">
    Register your dynamic menu items themes
  </div>
  
  <div 
    class="tl-xbig">
  
    <pre>
      <code
        [highlight]="this.dynamicMenuInitCode"
        [languages]="['typescript']">
     </code>
    </pre>
  
  </div>
  
  <div
    class="tl-big-bottom-margined tl-subtitle">
    Display menu with a default companion component
  </div>
  