<tl-hamburger
  class="hamburger tl-big-margined"
  [status]="!this.menuService.isWrapped"
  [inMenu]="!this.menuService.isWrapped"
  (on)="this.menuService.isWrapped=false"
  (off)="this.menuService.isWrapped=true">
</tl-hamburger>
  
<div
  class="menu tl-full tl-col-dir tl-hor-center tl-no-wrap tl-flex-block">
  
  <div
    *ngIf="this.title != undefined"
    class="tl-title tl-big-margined tl-clickable"
    (click)="this.onClickTitle()">
    {{ this.title }}
  </div>
  
  <ng-content>
  </ng-content>
  
  <tls-tree
    [size]="'tl-two-third'"
    [inMenu]="true"
    [clickable]="true"
    [clickableWrapNode]="true"
    [data]="this.menuService.menuItems"
    [searchFieldName]="'label'"
    [selectionFieldName]="'id'"
    [nestedItemsFieldName]="'subItems'"
    [selectionValue]="(this.menuService.selectedMenuItem != null)?this.menuService.selectedMenuItem.id:''"
    [hasHeaderRow]="false"
    [columns]="[
        {
          fieldName: 'label',
          title: 'Item',
          size: 1,
          editable: false
        }
      ]"
    (clickItem)="this.onClickItem($event)">
  </tls-tree>
  
</div>