<div
  class="tl-big-margined tl-title">
  Example
</div>

<tls-component-sample
  [hasTlStyle]="false"
  [hasSubTlStyle]="false"
  [hasSize]="false"
  [hasColor]="true">

    <tl-icon-toggler
        [size]="30"
        [icon]="'ion-heart-outline'"
        [iconOn]="'ion-heart'"
        [color]="this.componentPreferenceService.style.color"
        (toggle)="this.onToggle($event)">
    </tl-icon-toggler>
  
</tls-component-sample>
  
<div 
  class="tl-near-full-responsive">
  
  <pre>
    <code
      [highlight]="this.htmlCode"
      [languages]="['html']">
   </code>
  </pre>

  <pre>
    <code
      [highlight]="this.tsCode"
      [languages]="['typescript']">
   </code>
  </pre>
  
</div>


<div
  class="tl-big-margined tl-title">
  Inputs
</div>

<table
  class="tl-near-full-responsive">
  <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Default Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
            <td>size</td>
            <td>number</td>
            <td>Size of the square icon, in px</td>
            <td>40</td>
    </tr>
    <tr>
            <td>initialState</td>
            <td>boolean</td>
            <td>Initial state of the icon toggler  <br/>Use of an input property setter to handle initial value change if synchrone state is set</td>
            <td>false</td>
    </tr>
    <tr>
            <td>color</td>
            <td>string</td>
            <td>Accentuation color of the icon when toggled on</td>
            <td>'tl-outline'</td>
    </tr>
    <tr>
            <td>icon</td>
            <td>string</td>
            <td>Icon, in the tl-icon-system</td>
            <td>'tl-ion-heart'</td>
    </tr>
    <tr>
            <td>iconOn</td>
            <td>string</td>
            <td>Icon, in the tl-icon-system, when the toggler is toggled on  <br/>If undefined, icon is the default 'icon'</td>
            <td>undefined</td>
    </tr>
    <tr>
            <td>bouncingRatio</td>
            <td>number</td>
            <td>Bounding ratio  <br/>1.8 by default</td>
            <td>1.8</td>
    </tr>
    <tr>
            <td>synchrone</td>
            <td>boolean</td>
            <td>Tells if component is synchrone, which means reacts to any inital state change</td>
            <td>false</td>
    </tr>
    <tr>
            <td>unclickable</td>
            <td>boolean</td>
            <td>Prevents click event and action</td>
            <td>false</td>
    </tr>
  </tbody>
</table>

<div
  class="tl-big-margined tl-title">
  Events
</div>

<table
  class="tl-near-full-responsive">
  <thead>
    <tr>
        <th>Name</th>
        <th>Payload Type</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
            <td>toggleOn</td>
            <td>any</td>
            <td>Event that is raised when toggler is toggled on</td>
    </tr>
    <tr>
            <td>toggleOff</td>
            <td>any</td>
            <td>Event that is raised when toggler is toggled off</td>
    </tr>
    <tr>
            <td>toggle</td>
            <td>boolean</td>
            <td>Event that is raised when toggler is toggled  <br/>Carries the new state as payload</td>
    </tr>
  </tbody>
</table>
