<!-- Search field, if any -->
<input
  class="astext tl-full"
  [class.tl-input]="!this.inMenu"
  [class.tl-menu-input]="this.inMenu"
  placeholder="Search"
  type="text"
  (keyup)="this.search($event.target.value)"/>

<!-- Header row, if any -->
<div 
  *ngIf="this.hasHeaderRow"
  class="tree-node-row"
  [ngStyle]="{
      'grid-template-columns': this.gridTemplateColumns
    }">
  <div
    *ngFor="let column of this.columns; let i = index">
    <div 
      class="tree-node-row-cell tl-full tl-hor-left tl-vert-center tl-no-wrap tl-flex-block">
      
      <!-- 'Unwrap all' icon for first column -->
      <tl-square-icon
        *ngIf="i == 0"
        title="Wrap/Unwrap all"
        style="margin-right:5px;cursor:pointer"
        [color]="(this.unwrapAllFlag)?'tl-outline':'tl-main'"
        [icon]="'tl-chevron-down-circle-outline'"
        [size]="17"
        (click)="(this.unwrapAllFlag)?this.wrapChildren(true):this.unwrapChildren(true)">
      </tl-square-icon>
        
      <!-- Column label -->
      <div
        class="tree-node-row-cell-value tl-subsubtitle">
        <b>{{ column.title }}</b>
      </div>
    </div>
  </div>
</div>

<!-- Item tree rows -->
<tls-tree-node
  *ngFor="let item of this.data"
  [parendFolded]="false"
  [item]="item"
  [columns] ="this.columns"
  [gridTemplateColumns]="this.gridTemplateColumns"
  [nestedItemsFieldName]="this.nestedItemsFieldName"
  [nestedDataFieldName]="this.nestedDataFieldName"
  [idFieldName]="this.idFieldName"
  [searchFieldName]="this.searchFieldName"
  [selectionFieldName]="this.selectionFieldName"
  [selectionValue]="this.selectionValue"
  [detailsRowFieldName]="this.detailsRowFieldName"
  [clickable]="this.clickable"
  [clickableWrapNode]="this.clickableWrapNode"
  (changeTreeValue)="this.onChangeTreeValue($event)"
  (clickItem)="this.clickItem.next($event)"
  style="width:100%">
</tls-tree-node>
