<div
  class="tl-big-bottom-margined tl-title">
  ngx-tl-common
</div>

<div
  class="tl-big-bottom-margined tl-subtitle">
  A light and highly-configurable Angular Framework
</div>


<tl-indicator
  class="tl-big-margined"
  [icon]="'k'"
  [text]="'A set of Angular Components'"
  [textPosition]="'bottom'"
  [iconSize]="60"
  [color]="'tl-soft'">
</tl-indicator>

<tl-indicator
  class="tl-big-margined"
  [icon]="'F'"
  [text]="'A dynamic Theme Module'"
  [textPosition]="'bottom'"
  [iconSize]="60"
  [color]="'tl-soft'">
</tl-indicator>

<tl-indicator
  class="tl-big-margined"
  [icon]="'i'"
  [text]="'A configurable Menu Module'"
  [textPosition]="'bottom'"
  [iconSize]="60"
  [color]="'tl-soft'">
</tl-indicator>

<tl-indicator
  class="tl-big-margined"
  [icon]="'='"
  [text]="'A built-in Alert Popup System'"
  [textPosition]="'bottom'"
  [iconSize]="60"
  [color]="'tl-soft'">
</tl-indicator>

<tl-text-stateful-button
  style="margin:40px"
  [text]="'Get Started'"
  [color]="'tl-outline'"
  [icon]="'Q'"
  (click)="this.onClickStart()">
</tl-text-stateful-button>