<tl-icon-dropdown
  [dropdownPanelPosition]="'top-right'">
  <div
    [class]="'tl-small'">
    I am tototooto<br/>
    It is a good toto
  </div>
</tl-icon-dropdown>


<tl-button
  [tlStyle]="'tl-neumorphic'"
  [shape]="'round'"
  [icon]="'ion-cog-outline'"
  [label]="'Change Selection Mode'"
  [labelPosition]="'Right'"
  (clickButton)="this.onClickButton()">
</tl-button>

<tl-table
  class="tl-xbig-margined"
  [size]="'tl-near-full-responsive'"
  [formInputStyle]="'tl-soft-transparent'"
  [togglerButtonStyle]="'tl-sharp-transparent'"
  [dropdownStyle]="'tl-shadowed'"
  [togglerButtonContainerRatio]="0.75"
  [selectionMode]="this.selectionMode"
  [maxPerPage]="5"
  [clickRowToSelect]="true"
  [data]="[
      {
        name: 'Valentin lorem abum imhet tocar tocu nivoc es la que el primo de la montaya tu te toque la cabeza',
        age: 22,
        fact: 'cool',
        child: false,
        sentence: 'Lorem Ipsum',
        date: '24/08/2021'
      },
      {
        name: 'Thuy',
        age: 21,
        fact: 'funny',
        child: false,
        sentence: 'Ahmet',
        date: ''
      },
      {
        name: 'Merlin',
        age: 2,
        fact: 'baby',
        child: true,
        sentence: '',
        date: '24/08/2022'
      },
      {
        name: 'Zahi',
        age: 21,
        fact: 'funny',
        child: false,
        sentence: 'Ahmet',
        date: ''
      },
      {
        name: 'Quentin',
        age: 2,
        fact: 'baby',
        child: true,
        sentence: '',
        date: '24/08/2022'
      },
      {
        name: 'Claire',
        age: 26,
        fact: 'baby',
        child: true,
        sentence: '',
        date: '24/08/2022'
      },
      {
        name: 'Tony',
        age: 35,
        fact: 'funny',
        child: false,
        sentence: 'Ahmet',
        date: ''
      },
      {
        name: 'Felix',
        age: 4,
        fact: 'baby',
        child: true,
        sentence: '',
        date: '24/08/2022'
      },
      {
        name: 'Morgane',
        age: 35,
        fact: 'baby',
        child: true,
        sentence: '',
        date: '24/08/2022'
      },
      {
        name: 'Alix',
        age: 4,
        fact: 'funny',
        child: false,
        sentence: 'Ahmet',
        date: ''
      },
      {
        name: 'Jolan',
        age: 5,
        fact: 'baby',
        child: true,
        sentence: '',
        date: '24/08/2022'
      }
    ]"
  [columns]="[
      {
        fieldName: 'name',
        size: 2,
        title: 'Name',
        editable: false,
        sortable: true
      },
      {
        fieldName: 'age',
        size: 1,
        title: 'Age',
        editable: false,
        contentHorizontalAlign: 'center',
        contentVerticalAlign: 'center',
        sortable: true
      },
      {
        fieldName: 'fact',
        size: 2,
        title: 'Fact',
        editable: true,
        editionType: 'select',
        editionPlaceholder: 'Pick one',
        editionProposals: [{name: 'baby'}, {name: 'cool'}, {name: 'funny'}],
        contentHorizontalAlign: 'center',
        contentVerticalAlign: 'center'
      },
      {
        fieldName: 'child',
        size: 1,
        title: 'Is child',
        editable: true,
        editionType: 'toggler',
        contentHorizontalAlign: 'center',
        contentVerticalAlign: 'center'
      },
      {
        fieldName: 'sentence',
        size: 2,
        title: 'Sentence',
        editable: true,
        editionType: 'input-text',
        editionPlaceholder: 'Sentence',
        editionIcon: 'ion-call-outline',
        contentHorizontalAlign: 'center',
        contentVerticalAlign: 'center'
      }
    ]"
  [selectionActions]="[
      {
        name: 'Edit member',
        icon: 'ion-create-outline'
      },
      {
        name: 'Delete member',
        icon: 'ion-trash-outline'
      }
    ]"
  (changeValue)="this.act($event)">
</tl-table>


<div
  class="tl-xbig-bottom-margined tl-title tl-near-full"
  style="text-align:center">
  A light and highly-configurable Angular Framework
</div>

<tl-clickable-icon
  class="tl-big-margined"
  [size]="60"
  [color]="'tl-success'"
  [icon]="'ion-file-tray-stacked-outline'"
  [iconOn]="'ion-file-tray-stacked'"
  [label]="'A set of Angular Components'">
</tl-clickable-icon>

<tl-clickable-icon
  class="tl-big-margined"
  [size]="60"
  [color]="'tl-success'"
  [icon]="'ion-color-filter-outline'"
  [iconOn]="'ion-color-filter'"
  [label]="'A dynamic Theme Module'">
</tl-clickable-icon>

<tl-clickable-icon
  class="tl-big-margined"
  [size]="60"
  [color]="'tl-success'"
  [icon]="'ion-grid-outline'"
  [iconOn]="'ion-grid'"
  [label]="'A configurable Menu Module'">
</tl-clickable-icon>

<tl-clickable-icon
  class="tl-big-margined"
  [size]="60"
  [color]="'tl-success'"
  [icon]="'ion-notifications-outline'"
  [iconOn]="'ion-notifications'"
  [label]="'A built-in Alert Popup System'">
</tl-clickable-icon>


<tls-text-stateful-button
  style="margin:60px"
  [text]="'Get Started'"
  [color]="'tl-outline'"
  [icon]="'ion-arrow-forward-outline'"
  [status]="this.getStartedButtonStatus"
  (click)="this.onClickStart()">
</tls-text-stateful-button>