<div
  class="tl-xbig-bottom-margined tl-title tl-near-full"
  style="text-align:center">
  A light and highly-configurable Angular Framework
</div>

<tls-search-bar
  [tlStyle]="'tl-neumorphic-dome'"
  [size]="'tl-half-responsive'"
  [buttonShape]="'round'"
  [placeholder]="'Search'">
</tls-search-bar>

<tl-clickable-icon
  class="tl-big-margined"
  [size]="60"
  [color]="'tl-success'"
  [icon]="'ion-file-tray-stacked-outline'"
  [iconOn]="'ion-file-tray-stacked'"
  [label]="'A set of Angular Components'">
</tl-clickable-icon>

<tl-clickable-icon
  class="tl-big-margined"
  [size]="60"
  [color]="'tl-success'"
  [icon]="'ion-color-filter-outline'"
  [iconOn]="'ion-color-filter'"
  [label]="'A dynamic Theme Module'">
</tl-clickable-icon>

<tl-clickable-icon
  class="tl-big-margined"
  [size]="60"
  [color]="'tl-success'"
  [icon]="'ion-grid-outline'"
  [iconOn]="'ion-grid'"
  [label]="'A configurable Menu Module'">
</tl-clickable-icon>

<tl-clickable-icon
  class="tl-big-margined"
  [size]="60"
  [color]="'tl-success'"
  [icon]="'ion-notifications-outline'"
  [iconOn]="'ion-notifications'"
  [label]="'A built-in Alert Popup System'">
</tl-clickable-icon>


<tls-text-stateful-button
  style="margin:60px"
  [text]="'Get Started'"
  [color]="'tl-outline'"
  [icon]="'ion-arrow-forward-outline'"
  [status]="this.getStartedButtonStatus"
  (click)="this.onClickStart()">
</tls-text-stateful-button>