<div
  class="tl-big-margined tl-title">
  Example
</div>

<tls-component-sample>

  <tl-icon-miniature
    [icon]="'G'"
    [tlStyle]="this.componentPreferenceService.style.tlStyle"
    [size]="this.componentPreferenceService.style.size"
    [bgColor]="'tl-success'"
    [borderRadius]="25">
    All good
  </tl-icon-miniature>
  
</tls-component-sample>

<div 
  class="tl-near-full-responsive">

  <pre>
    <code
      [highlight]="this.htmlCode"
      [languages]="['html']">
   </code>
  </pre>

</div>

<div
  class="tl-big-margined tl-title">
  Inputs
</div>

<table>
  <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Default Value</th>
    </tr>
  </thead>
  <tbody>
<tr>
        <td>icon</td>
        <td>string</td>
        <td>Miniature icon</td>
        <td>''</td>
</tr>
<tr>
        <td>size</td>
        <td>string</td>
        <td>tl-size of the miniature container</td>
        <td>'tl-near-full'</td>
</tr>
<tr>
        <td>height</td>
        <td>number</td>
        <td>Miniature height, in px  <br/>50 by default</td>
        <td>50</td>
</tr>
<tr>
        <td>borderRadius</td>
        <td>number</td>
        <td>Miniature border radius, in px  <br/>10 by default</td>
        <td>10</td>
</tr>
<tr>
        <td>tlStyle</td>
        <td>string</td>
        <td>Style of the miniature  <br/>Can be: tl-soft-transparent, tl-outlined, tl-neumorphic...  <br/>tl-soft-transparent by default</td>
        <td>'tl-soft-transparent'</td>
</tr>
<tr>
        <td>color</td>
        <td>string</td>
        <td>Icon color, in the tl color system</td>
        <td>'tl-secondary'</td>
</tr>
<tr>
        <td>bgColor</td>
        <td>string</td>
        <td>Icon bg color, in the tl color system</td>
        <td>'tl-success'</td>
</tr>
<tr>
        <td>margined</td>
        <td>boolean</td>
        <td>Tells if the miniature container shall have a standard margin</td>
        <td>true</td>
</tr>
  </tbody>
</table>


