<div
  class="tl-margined tl-subtitle">
  
  Relative Sizes
  
</div>

<table>
  <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>tl-full</td>
        <td>Takes the full size of the container</td>
    </tr>
    <tr>
        <td>tl-near-full</td>
        <td>Takes nearly the full size of the container (80%)</td>
    </tr>
    <tr>
        <td>tl-near-full-responsive</td>
        <td>Like before, takes nearly the full size of the container (80%). Additionnaly gets even bigger with a mobile client (90% of the container) so that no sapce around is lost</td>
    </tr>
    <tr>
        <td>tl-half</td>
        <td>Takes exactly half the width of the container</td>
    </tr>
    <tr>
        <td>tl-half-responsive</td>
        <td>Like before, takes exactly half the width of the container. However, gets nearly full-size of the container when used with a mobile client (90%) so that content can be easily read</td>
    </tr>
    <tr>
        <td>tl-near-half</td>
        <td>Takes nearly half the width of the container (45%)</td>
    </tr>
    <tr>
        <td>tl-near-half-responsive</td>
        <td>Like before, takes nearly half the width of the container. However, gets nearly full-size of the container when used with a mobile client (90%) so that content can be easily read</td>
    </tr>
    <tr>
        <td>tl-third</td>
        <td>Takes nearly third the width of the container (30%)</td>
    </tr>
    <tr>
        <td>tl-third-responsive</td>
        <td>Like before, takes nearly third the width of the container. However, gets nearly full-size of the container when used with a mobile client (90%) so that content can be easily read</td>
    </tr>
    <tr>
        <td>tl-quarter</td>
        <td>Takes nearly quarter the width of the container (20%)</td>
    </tr>
    <tr>
        <td>tl-quarter-responsive</td>
        <td>Like before, takes nearly quarter the width of the container. However, gets nearly full-size of the container when used with a mobile client (90%) so that content can be easily read</td>
    </tr>

  </tbody>
</table>
    
<div
  class="tl-margined tl-subtitle">
  
  Fixed Sizes
  
</div>

<table>
  <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>tl-big</td>
        <td>Super big container (700px) when used on big screens. However responsive: on mobile, takes nearly full-container-size (90%) so that content can be easily read</td>
    </tr>
    <tr>
        <td>tl-big</td>
        <td>Big container (500px) when used on big screens. However responsive: on mobile, takes nearly full-container-size (90%) so that content can be easily read</td>
    </tr>
    <tr>
        <td>tl-medium</td>
        <td>Medium container (300px) when used on big screens. However responsive: on mobile, takes nearly full-container-size (85%) so that content can be easily read</td>
    </tr>
    <tr>
        <td>tl-small</td>
        <td>Small container (200px) when used on big screens. However responsive: on mobile, takes nearly full-container-size (85%) so that content can be easily read</td>
    </tr>
    <tr>
        <td>tl-xxsmall</td>
        <td>Very very small container (10px) for any screen size. not reponsive !</td>
    </tr>

  </tbody>
</table>
    
    
    
    
    